.introduction-area {
	position: relative; 
	top: 0;
	left: 0;
	width: 100%;
	min-height: 30em;
	height: auto;
	color: white;
}

.introduction-area .introduction-title {
	font-size: 5em;
}

.introduction-area .introduction-text {
	font-size: 1.5em;
}

.vertical-align {
    display: flex;
    align-items: center;
}